{"type":"page-link","description":"Основные правила в комбинаторике, которые позволяют быстро решать множество задач и из которых выводятся все основные формулы комбинаторики.","footer":{"secondary":"Комбинаторика • Группа","primary":"Базовые правила","href":"/group/base-math/combinatorics/basics/rules","iconName":"folder"}}